In [1]:
from matcher import extract_matches_in_directory

#### Use this notebook to extract all matches in a directory. Please make sure the directory contains only images.

In [2]:
directory = "output/Filter4/"

In [3]:
df = extract_matches_in_directory(directory)

In [4]:
df.head(5)

                    CATII-H-34463A.JPG  CATII-H-31484A.JPG
CATII-H-31484A.JPG                30.0                 0.0
CATII-H-34463A.JPG                 0.0                30.0

In [5]:
# The methods use the filenames as information. If avaible the ground truth can be added to the table.
df.to_csv("table_with_matches.csv")